lightGray = #292929
mediumBlue = #1d4d7a

user-select()
  -moz-user-select arguments
  -khtml-user-select arguments
  -ms-user-select arguments
  -webkit-user-select arguments
  user-select arguments

selected-div()
  background #00498F url(img/ui-bg_dots-small_40_00498f_2x2.png) 50% 50% repeat
  color #fff

slider-handle()
  -webkit-appearance none
  background-color rgb(74, 115, 155)
  border 0
  border-radius 1px
  box-shadow inset 0 0 10px rgba(0, 0, 0, 0.5)
  height 24px
  width 14px

volume-slider-handle()
  slider-handle()
  height 12px
  width 10px

html
  background url(img/ui-bg_diagonals-thick_15_0b3e6f_40x40.png)
  height 100%

body
  font-family Arial, Helvetica, sans-serif
  height 100%
  margin 0
  overflow hidden

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td
  margin 0
  padding 0

ol, ul
  list-style none

input, textarea, select
  font-size inherit

input, textarea
  padding 5px
  width 95%

a:hover,a:active,a:focus
  outline 0

.clearfix
  clear both

#sidepane
  background mediumBlue
  box-sizing border-box
  box-shadow 0px 0px 7px rgba(0,0,0,0.5)
  float left
  height 100%
  .smallbuttons
    i
      color rgba(255,255,255,0.7)
      cursor pointer
      text-align center
      font-size 1.3em
      text-shadow 0px 0px 2px rgba(0,0,0,0.5)
      &.streaming-indicator
        font-size 0.9em
        line-height 1.45em
      &:hover
        color white
  .panes
    background rgba(59, 66, 73, 1)
    clear both
    height calc(100% - 34px)
    .hint
      font-size 0.8em
      font-style italic
      color rgba(255,255,255,0.6)
      margin 5px 0
    > div
      height 100%
      padding 7px
  &.condensed
    width 40px
    .smallbuttons
      i
        display block
        padding 8px 0
        &.fa-times
          display none
      .in-place
        position relative
        height 0
        width 0
        > i
          bottom -4px
          font-size 0.5em
          left 24px
          position absolute
          &.fa-play
            color green
          &.fa-stop
            color red
      #stream-btn
        .fa-play
          display none
        .fa-stop
          display initial
        &.on
          .fa-play
            display initial
          .fa-stop
            display none
    .panes
      display none
  &.expanded
    width 30%
    max-width 350px
    min-width 165px
    .smallbuttons
      padding-left 3px
      padding-top 3px
      i
        display inline-block
        float left
        margin 5px
        &.fa-times
          float right
        &.active
          color white
      .in-place
        position relative
        height 0
        width 0
        > i
          bottom -3px
          font-size 0.5em
          left 9px
          position absolute
          &.fa-play
            color green
          &.fa-stop
            color red
      #stream-btn
        .fa-play
          display none
        .fa-stop
          display initial
        &.on
          .fa-play
            display initial
          .fa-stop
            display none
  #upload-pane
    padding 0
    #upload
      height calc(100% - 14px)
      overflow-x hidden
      overflow-y auto
      padding 7px
      width calc(100% - 14px)
      h1
        font-size 1.4em
        margin 4px 0
    .automatic-queue input[type="button"]
      width auto
  #events-pane
    padding 0
    #events-online-users
      box-sizing border-box
      box-shadow -3px 1px 3px rgba(36, 36, 36, 0.49)
      background rgb(93, 124, 153)
      padding 2px 4px
      max-height 90px
      overflow-y auto
      .user
        float left
        overflow-x hidden
        width 180px
        .streaming
          float left
        .name
          float left
    #events-list
      font-size 0.9em
      height calc(100% - 63px)
      overflow-y scroll
      padding 4px 5px 5px 5px
      .name
        width 29%
        float left
        overflow-x hidden
        overflow-y hidden
        text-align right
        height 16px
        white-space nowrap
      .msg
        float left
        width 69%
        margin-left 4px
        word-wrap break-word
      .event
        padding-top 2px
        &.chat-me
          color #A6A6A6
          font-size 0.95em
          font-style italic
      .chat
        background-color lightGray
    #chat-box-input
      outline 0
      width 95%
  #settings-pane
    #auth-username, #auth-password
      width 300px
    #auth-username-display
      font-weight bold
    #settings-show-auth p
      margin-bottom: 8px
    #toggle-hardware-playback
      width auto
    #about-ul li
      margin-bottom 8px
    #toggle-scrobble
      width auto
    .button
      width 100%
    .vol-readout
      font-size 0.9em
      #vol-num
        font-weight bold
    .hardware-audio-playback
      font-size 0.9em

#mainpane
  height 100%
  margin 0
  overflow hidden
  padding 0
  width auto
  > *
    width auto
  #nowplaying
    background-color #A9C4DB
    padding 5px 10px
    h1
      font-size 16px
      letter-spacing 0.1em
      font-weight bold
    .song-info
      display block
      overflow hidden
      padding 10px
      vertical-align top
      width auto
      > *
        display inline-block
        vertical-align top
      .song-info-label
        color rgb(29, 77, 122)
        font-size 0.65em
        font-weight bold
        margin-top 10px
      .song-info-data
        color rgb(247, 247, 247)
        font-weight 100
        font-size 1.3em
        text-shadow 0 0 4px rgba(28, 75, 121, 0.25)
      .main-info
        width 100%
        > *
          display inline-block
          vertical-align top
          width 49.5%
        .primary > *
          display inline
      .playback-btns
        display block
        margin-top 15px
        .button
          background rgba(28, 75, 121, 0.15)
          border-bottom-color rgb(10, 61, 110)
          border-radius 4px
          color rgb(28, 75, 121)
          font-size 14px
          height 30px
          width 30px
        #client-vol
          display inline-block
          vertical-align baseline
  .trackbar-container
    #track-slider
      border 0
      border-radius 0
      margin 0
      padding 5px 0
      width 100%
  .trackbar-time-container
    bottom 25px
    color rgba(255, 255, 255, 0.75)
    position relative
  #queue-window
      background-color #17609D
      bottom 4px
      height calc(100% - 249px)
      position relative
    .window-header
      background-color rgba(73, 143, 179, 0.5)
      font-size .6em
      margin-bottom 4px
      padding 3px 0

.button
  background #1C4B79
  border 0
  border-bottom 1px solid black
  border-radius 4px
  color #fff
  cursor pointer
  margin 0
  padding 5px
  .on
    color #75abff
  span
    display inline-block
  label
    cursor pointer
    vertical-align top
  &:hover
    background rgba(255, 255, 255, 0.3)

  &:disabled
    opacity .35
    background-image none

  &:focus
    outline 0

input[type=range]
  -webkit-appearance none
  margin 10px 10px 5px
  height 14px
  border-radius 4px
  border 1px solid #000
  background #1F5876 url("img/bright-10.png") left no-repeat
  background-size 0% 100%
  &::-moz-range-track
    border none
    background transparent
  &::-webkit-slider-thumb
    slider-handle()
  &::-moz-range-thumb
    slider-handle()
  &:focus
    outline 0

#client-vol-slider
  height 0
  margin 3px
  width 60px
  &::-webkit-slider-thumb
    volume-slider-handle()
  &::-moz-range-thumb
    volume-slider-handle()

#vol-slider
  height 10px
  margin 3px 0 0 0
  width calc(95% - 40px)
  .ui-slider-handle
    height 16px
    width 16px
    margin-top 2px

.widget
  color #d9d9d9
  border-radius 4px
  a
    color #96b7eb

.icon
  width 16px
  height 16px
  background-image url("img/ui-icons_9ccdfc_256x240.png")
  display block
  background-repeat no-repeat

button:hover .icon
  background-image url("img/ui-icons_ffffff_256x240.png")

.icon-info
  background-position -16px -144px

.icon-alert
  background-position 0 -144px

.icon-triangle-1-e
  background-position -32px -16px

.icon-triangle-1-se
  background-position -48px -16px

.icon-closethick
  background-position -96px -128px

#blackout
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.5)
  z-index 2

#modal
  outline 0
  position fixed
  z-index 3

#modal-header
  background #0b3e6f
  border-radius 4px
  border-bottom-left-radius 0
  border-bottom-right-radius 0
  color #f6f6f6
  font-weight bold
  font-size 21px
  padding 13px

#modal-close
  float right

#modal-content
  background none repeat scroll 0% 0% #1C4B79
  overflow-x hidden
  overflow-y auto
  padding 4px 20px

#modal-content div:focus
  outline 0

#context-menu
  background rgb(29, 77, 122)
  font-weight normal
  position fixed
  width 274px
  z-index 1
  li
    height 27px
    a
      color #d9d9d9
      display block
      float left
      font-size 16px
      padding 3px 12px
      position absolute
      text-decoration none
    &:hover
      background #00498f
      color #ffffff
      font-weight bold
    &.disabled a
      opacity 0.35
      &:hover
        background #00498f
        color #d9d9d9
        font-weight normal
    .kb-shortcut-hint
      color #d9d9d9
      cursor default
      float right
      font-family monospace
      font-size 0.6em
      font-weight bold
      opacity 0.5
      padding-right 5px
      padding-top 8px

#nowplaying-time-elapsed
  float left
  margin 4px
  font-weight bold
  font-family monospace

#nowplaying-time-left
  float right
  margin 4px
  font-weight bold
  font-family monospace

#vol
  > *
    display inline-block
    vertical-align middle

#vol-warning.hint
  color #B63434 !important

#vol-warning.hint
  a, .loudness-zen-icon
    color #57BF3B
    font-style normal
  .loudness-zen-icon
    position relative
    top 2px

#library-pane
  .window-header
    height 30px

#library, #playlists
  cursor default
  height calc(100% - 45px)
  margin-top 8px
  overflow-y auto
  user-select none
  div.icon
    float left
  p
    border 1px solid #052f57
    background #0b58a2 url("img/ui-bg_dots-medium_30_0b58a2_4x4.png") 50% 50% repeat
    color #ffffff
    border-radius 4px
    text-align center
    margin 20px auto 0
    padding 4px
    width 150px
    span
      float left
      margin-right .3em
      background-image url("img/ui-icons_ffffff_256x240.png")
    strong
      font-weight bold
  ul
    ul
      margin-left 9px
      ul
        margin-left 16px
    div.selected
      selected-div()
    div.cursor
      text-decoration underline

#user-id
  cursor pointer

#organize
  width 200px

#queue-duration, #queue-duration-label
  font-size 1.4em

#queue-list
  height 100%
  .header
    font-weight bold
    overflow-x hidden
    overflow-y hidden
    height 1.2em
  span.track
    width 26px
  span.title
    width 30%
  span.artist
    width 30%
  span.album
    width 30%
  span.time
    width 36px
  span
    white-space nowrap
    height 1.2em
    overflow-x hidden
    overflow-y hidden
    float left
    margin-right 4px
  #queue-header
    background-color rgb(31, 88, 118)
    margin-top -4px
    padding 2px 0 1px
  #queue-items
    clear both
    height 100%
    overflow-y auto
    overflow-x hidden
    user-select none
    width 100%
    div
      border-bottom 1px solid rgba(114, 122, 134, 0.35)
      cursor default
      clear both
      height 1.2em
      overflow-x hidden
      overflow-y hidden
      padding-top 2px
    div:nth-child(2n+1)
      background-color #4181B6
    div.random
      color #96B7EB
    div.old
      color rgba(37, 56, 77, 0.56)
      font-style italic
    div.selected
      selected-div()
    div.current
      border 1px solid #096AC8
      background-color rgba(255, 255, 255, 0.63)
      color #1D4D7A
      font-weight bold
      text-shadow 1px 1px 1px rgba(0,0,0,0.1)
    div.cursor
      span
        text-decoration underline
    div.border-bottom
      border-bottom 2px dashed #ffffff
    div.border-top
      border-top 2px dashed #ffffff
    span.track
      text-align right
    span.time
      text-align right

#upload-widget
  padding 10px

#shortcuts
  h1
    font-size 21px
    margin-bottom 10px
    margin-top 10px
    font-weight bold

  dl
    font-size 17px
    margin-bottom 4px
    dt
      font-family monospace
      display inline
      padding 3px
      background-color #272727
      font-weight bold
      font-size 14px
      text-shadow 1px 1px 0 #000000
      border-radius 4px
      em
        font-weight normal
        color #afafaf
        text-shadow none
    dd
      display inline

#main-err-msg
  border 1px solid #cd0a0a
  background #a32d00 url("img/ui-bg_dots-small_30_a32d00_2x2.png") 50% 50% repeat
  color #ffffff
  border-radius 4px
  margin 200px auto
  width 142px
  padding 4px
  span
    float left
    margin-right .3em
    background-image url("img/ui-icons_ffffff_256x240.png")
  strong
    font-weight bold

#settings
  padding 6px
  .section
    margin-bottom 8px
    h1
      font-weight bold
      font-size 1.4em
    h2
      font-size 1.1em
      font-weight bold
    button, label
      font-size .8em
    em
      font-style italic
    ul
      font-size .9em
      // li:before
      //   content "\2713"

#settings-users-select
  width 350px

#settings-delete-user
  margin-right 20px

#settings-request
  background-color lightGray
  border-radius 4px
  padding 4px

#request-name
  width 290px

#request-replace
  width 294px

.accesskey
  text-decoration underline

.perm
  background-color lightGray
  color #96B7EB
  padding 2px
  border-radius 4px

#import-progress-list
  overflow-y auto

#edit-tags
  font-size 21px
  div
    margin-bottom 6px
  .field
    display inline-block
    padding-right 6px
    text-align right
    width 23%
  input
    width 70%

#add-to-playlist-list li, #add-to-playlist-new
  font-size 16px
  text-decoration none
  display block
  color #d9d9d9
  padding 3px 12px
  cursor pointer
  user-select none

#add-to-playlist-list li:hover, #add-to-playlist-new:hover
  font-weight bold
  color #ffffff
  background #00498f url("img/ui-bg_dots-small_40_00498f_2x2.png") 50% 50% repeat
